
#reporting
{
	padding:0;
	margin:0;
	min-height:600px;
}

.list_of_reports
{
	font-size:140%;
	font-weight:bold;
}

#scheduled_reports_table td { padding:1px 3px; }

#reporting_header_row
{
	vertical-align:bottom;
	margin-top:20px;
}

#report_name { width:200px; }

.top_button
{
	border:1px solid #000000;
	padding:2px 4px;
	cursor:pointer;
	float:left;
	margin:8px 8px 0 0;
}
.top_button:hover { background-color:#e0e0e0; }

.top_button#save_changes_button { margin-left:32px; }
.top_button#run_report_button { font-size:160%; font-weight:bold; padding:4px 8px; }

#saving { padding:16px 0 16px 100px; font-size:16px; font-weight:bold; display:none; }

#sheet_headers { margin:24px 0 0 0; padding:0; width:100%; }
#sheet_container { margin:8px 0 0 0; }

.sheet_header
{
	border:1px solid #000000;
	padding:2px 4px;
	margin:0 12px 0 0;
	cursor:pointer;
	white-space:nowrap;
	float:left;
	font-family:arial;
	font-size:12px;
}

.sheet_header.on { background:#c8c8ff; }

#sheet_header_options
{
	position:absolute;
	left:-2px;
	z-index:64;
	cursor:pointer;
	color:#000000;
	border:1px solid #000000;
	background:#ffffff;
}

.sheet_table_options {
	z-index:64;
	cursor:pointer;
	width:135px;
	border:1px solid #000000;
	background:#ffffff;
}
.sheet_table_options p { font:12px arial; color:#000000; }

.header_option, .header_option:hover
{
	padding:2px 6px;
	white-space:nowrap;
}

.header_option:hover { background:#d8d8d8; }

.header_option_spacer
{
	padding:0;
	margin:0;
	background:#d8d8d8;
	height:1px;
	width:100%;
}

.table_header_options
{
	position:absolute;
	top:0;
	right:0;
	border:0;
	border-left:1px solid #000000;
	border-bottom:1px solid #000000;
	width:10px;
	height:10px;
	background:#ffffff;
	cursor:pointer;
}

.sheet_body
{
	border:1px solid #000000;
	padding:40px 20px;
	min-height:200px;
	margin:0;
}

.sheet_table
{
	width:98%;
	margin:0 auto 40px auto;
}

.sheet_table .table_title { font:32px courier; color:#e3284a; margin:8px 0 0 24px; font-weight:bold; cursor:pointer; }

.table_attr
{
	background:#efefef;
	margin:4px 8px;
	padding:2px 4px;
	float:left;
}

.meta_desc { width:300px; display:none; }

.date_input
{
	width:80px;
}

.col_group_header { padding-right:16px; font-weight:bold; cursor:pointer; text-transform: capitalize; }

#set_dates_container { position:absolute; top:40px; left:40px; z-index:100; border:1px solid #000000; background:#ffffff; padding:12px 40px 12px 16px; }
#set_dates_new_table { margin-bottom:8px; }
.set_dates_replace { padding:2px 0 2px 8px; font:11px arial; }

label.campaign_label { padding-right:10px; }
div.w_campaigns { max-height:250px; overflow-y:scroll; }
