
#payments_tbody td { padding:1px 3px; font:11px arial; white-space:nowrap; }

#billing_menu_div { margin-bottom:12px; }
.billing_menu, .billing_menu_on { margin-right:12px; }
.billing_menu_on { font-size:20px; font-weight:bold; color:#009900; }

#payment_details_tbody td { padding:1px 3px; }
#payment_details_tbody .label { text-align:right; }

#overview_tbody td { padding:1px 4px; font:12px arial; }
#overview_tbody tr.overview_row:hover { background-color:#ccffcc; }
